html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: radial-gradient(circle, transparent, black);
  background-color: black;
  transition: background-color 0.5s;
}

.spectrum-container {
  position: absolute !important;
  background: #0008;
  border-color: #666;
}

.blink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  position: relative;
  z-index: 10;
  height: 150px;
  width: 100px;
  border: 2px solid #888;
  border-radius: 30px;
  box-shadow: 1px 1px 5px;
  background-image: linear-gradient(#fff6, transparent 20%, transparent 80%, #0004);
  background-color: #000;
  transition: background-color 0.5s;
}

.usb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  top: -10px;
  width: 70px;
  height: 90px;
  box-shadow: 1px 1px 5px;
  background-color: #999;
}

.usb-hole {
  position: relative;
  top: 10px;
  z-index: 2;
  height: 8px;
  width: 12px;
  background-color: #444;
}
